<div class="control-group">
  <div class="controls">
    <input type="checkbox" name="subscribe" ng-init="verify.custom.subscribe = false" ng-model="verify.custom.subscribe">
    please add me to your mailing list
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <input type="checkbox" name="helpout" ng-init="verify.custom.helpout = false" ng-model="verify.custom.helpout">
    please send me an election information kit
  </div>
</div>
<div class="control-group">
  <label class="control-label"><i class="icon-envelope"></i> Email address</label>
  <div class="controls">
      <input type="email" name="email" ng-model="verify.custom.email" placeholder="smith123@mymail.com" class="span5">
  </div>
</div>
<div class="control-group">
  <label class="control-label"><i class="icon-phone"></i> Phone</label>
  <div class="controls">
    <input type="text" name="phone" ng-model="verify.custom.phone" placeholder="0755555555" class="span4">
  </div>
</div>
